.entry-list-view__container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  padding-inline: 60px;
  padding-block: 43px;
  background-color: #fafafa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.entry-list-view__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  span {
    font-size: 30px;
    font-weight: 400;
  }
}

.entry-list-view__search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  background-color: #039be515;
  accent-color: #039be5AA;
  border: transparent;
  padding: 13px;
  border-radius: 5px;
  outline: transparent;
  font-size: 15px;
}

.entry-list-view__search-bar::placeholder {
  color: #999;
}

.entry-list-view__no-tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #757575;

  h1 {
    font-size: 30px;
    margin-bottom: 0;
  }

  p {
    font-size: 18px;
  }
}

.entry-list-view__student-list-button-item {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 15px;
  padding-inline: 30px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: #f0f0f0;
  }

  h2 {
    font-size: 18px;
    margin-bottom: 8px;
  }

  p {
    font-size: 14px;
    color: #757575;
  }
}

.entry-list-view__students-list {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.entry-list-view__add-floating-button {
  position: absolute;
  right: 40px;
  top: 40px;
  background-color: #039be5;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0277bd;
  }
}
