.forgot-password-screen__container {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

.forgot-password-screen {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.forgot-password-screen h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.forgot-password-screen form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.forgot-password-screen label {
  margin-top: 15px;
  margin-bottom: 5px;
}

.forgot-password-screen input[type="email"] {
  padding: 12px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  outline-color: #0062cc;
  font-size: 16px;
}

.forgot-password-screen__submit {
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 15px;
  background-color: #007bff;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
  text-align: center;
  text-decoration: none;
}

.forgot-password-screen__submit:hover {
  background-color: #0056b3;
}

.forgot-password-screen__reset_code {
  margin-top: 5px;
  background: none;
  border: none;
  display: flex;
  text-decoration: none;
  align-self: flex-end;
  cursor: pointer;
}

.forgot-password-screen__reset_code:hover {
  text-decoration: underline;
}
