.app__container {
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, #007bff 10%, #039be5 50%, rgba(0, 212, 255, 1) 100%);
}

.app_scroll-container {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.app__body {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 51px);
  flex: 1;
}
